<section
  class="hero-section d-flex align-items-center text-white"
  [ngStyle]="{
    'background-image': featured?.backdrop_path
      ? 'url(https://image.tmdb.org/t/p/original' + featured.backdrop_path + ')'
      : 'none',
    'background-size': 'cover',
    'background-position': 'center',
    'background-repeat': 'no-repeat',
  }"
>
  <div class="container position-relative z-3">
    @for (genre of genres; track genre) {
      <span class="badge bg text-dark px-3 py-2 m-1">{{ genre }}</span>
    }

    <h1 class="display-2 fw-bold mb-4">
      {{ featured?.title || featured?.name }}
    </h1>

    <p class="hero-text mb-4">{{ featured?.overview }}</p>
    <div class="d-flex gap-3">
      <button class="btn bg px-4 py-3 fw-bold" (click)="goToDetails()">
        <i class="bi bi-play-fill" (click)="goToDetails()"></i>
        Play Now
      </button>

      <button class="btn glass-btn px-4 py-3 text-white" (click)="addToWatchLater()">
        <i class="bi bi-plus-lg"></i>
        My List
      </button>
    </div>
  </div>
</section>
